<div class="card">
  <h3 class="card-header">Login</h3>
  <form id="login-form" class="card-body">
    <label for="username-login" class="form-label">Username</label>
    <input id="username-login" type="text" autofocus class="form-input" />

    <label for="password-login" class="form-label">Password</label>
    <input id="password-login" type="password" class="form-input" />

    <div class="button-container">
      <button type="submit" class="btn">Login!</button>
      <a href="/signup" class="login-link">Sign up instead</a>
    </div>
  </form>
</div>

<script src="/public/js/login.js"></script>
